*.iml
.gradle
/local.properties
# Tüm .idea klasörünü ignore et
.idea/

# Builds
/build
/app/build
.externalNativeBuild
.cxx
local.properties

# Gizli bilgiler
/app/google-services.json

# Geçici dosyalar
.DS_Store
/captures
session_log.txt

# Gradle files
.gradle/
build/
